{% extends '../../public/main.html' %}

{% block body %}
<script type="text/javascript">
    function on_change_pass_commit(){
        var old_ps = $('#old_password').val();
        var new_ps = $('#new_password').val();
        var new_ps_again = $('#new_password_again').val();
        var reg_pass = new RegExp("[\\u4E00-\\u9FFF]+","g");
        if (old_ps.length < 6 || new_ps.length < 6 || new_ps_again.length < 6) {
            alert("密码长度由6-18位的字符组成！");
            return false;
        }
        if (reg_pass.test(old_ps) || reg_pass.test(new_ps) || reg_pass.test(new_ps_again)) {
            alert("请输入正确格式的密码！不允许出现中文！");
            return false;
        }
        if (new_ps_again != new_ps) {
            alert("两次输入的新密码不一致！");
            return false
        }
        document.getElementById('change_pass_form').submit();
    }
    function checkUserInfo(){
        var nickname = $('#nickname').val();
        var phone = $('#phone').val();
        var email = $('#email').val();
        var position = $('#position').val();
        var name = $('#name').val();
        var reg_name = /^(\w|[\u4E00-\u9FA5])*$/;
        var reg_email = /^\w+([-+._]\w+)*@\w+([-.]\w+)*\.\w+([-.]w+)*$/;
        var reg_phone = /^\d{11}$/;
        if (phone && reg_phone.test(phone) == false) {
            alert("请输入正确手机号码！");
            return false;
        }
        if (email && reg_email.test(email) == false) {
            alert("请输入正确邮箱！");
            return false;
        }

        if (nickname && nickname.length < 2  || nickname.length > 20 || reg_name.test(nickname) == false ) {
            alert("请输入正确格式的姓名！\n由2-20位的中文、英文、数字组成！");
            return false;
        }
        if (name && nickname && (name==nickname)){
            alert("用户名称不允许重复！");
            return false;
        }
        dicArgs = {
            'user_name': name,
            'user_nickname': nickname,
            'user_phone': phone,
            'user_email':email,
            'user_position':position
        };
        $.ajax({
            url: "/admin_user/center?a=update",
            method: "post",
            dataType:'json',
            data: dicArgs,
            success: function (result) {
                //console.log("result = "+result);
                if (result.status ==200){
                    window.location.href="/admin_user/center";
                }else if (result.status ==401) {
                    alert("信息已经存在！ 请重新确认！");
                }else if (result.status ==500) {
                    alert("更新用户失败请重新操作！");
                }
            }
        });
    }
</script>
<div>
    <div class="colcon">
    <div class="col1in3">
        <table class="table table-bordered table-hover vert-align">
            <thead>
                <tr class="res_tbl_title">
                    <td>联系方式</td>
                    <td>属性</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>用户名</td>
                    <td>{{ index_info['name'] }}</td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>{{ index_info['nickname'] }}</td>
                </tr>

                <tr>
                    <td>职位</td>
                    <td>{{ index_info['position'] }}</td>
                </tr>
                <tr>
                    <td>联系方式</td>
                    <td>{{ index_info['phone'] }}</td>
                </tr>
                <tr>
                    <td>邮件地址</td>
                    <td>{{ index_info['email'] }}</td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td>{{ index_info['create_time'] }}</td>
                </tr>
                <tr>
                    <td>操作</td>
                    <td><button data-target="#change_user_dialog" class="btn btnColor btn-info" data-toggle="modal" >编辑</button>
                        <button data-target="#change_pass_dialog" class="btn btnColor btn-warning" data-toggle="modal">修改密码</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<div>
    <div id="change_user_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 id="change_user_dialog_title">用户信息</h4>
                </div>
                <div class="modal-body brickWall">
                        <div>
                            <strong>用户名</strong>
                            <input type="text" id="name" name="name" value="{{ index_info['name'] }}" style="width:200px" class="form-control">
                        </div>
                        <div>
                            <strong>姓名</strong>
                            <input type="text" id="nickname" name="nickname" value="{{ index_info['nickname'] }}" style="width:200px" class="form-control">
                        </div>
                        <div>
                            <strong>职位信息</strong>
                            <input type="text" id="position" name="position" value="{{ index_info['position'] }}" style="width:200px" class="form-control">
                        </div>
                        <div>
                            <strong>联系方式</strong>
                            <input type="text" id="phone" name="phone" value="{{ index_info['phone'] }}" style="width:200px" class="form-control">
                        </div>
                        <div>
                            <strong>邮件地址</strong>
                            <input type="text" id="email" name="email" value="{{ index_info['email'] }}" style="width:200px" class="form-control">
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="checkUserInfo()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div>
    <div id="change_pass_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 id="change_pass_change_title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form id="change_pass_form" name="change_pass_form" method="post" action="/admin_user/center?a=changPass">
                        <div style="padding: 10px">
                            <strong>请输入旧密码:&#12288;&#12288;</strong>
                            <input type="password" id="old_password" name="old_password" value="" class="form-control inputStyle">
                        </div>
                        <div style="display: inline" id="tip1"></div>
                        <div style="padding: 10px">
                            <strong>请输入新密码:&#12288;&#12288;</strong>
                            <input type="password" id="new_password" name="new_password" value="" class="form-control inputStyle">
                        </div>
                        <div style="padding: 10px">
                            <strong>请再次输入新密码:</strong>
                            <input type="password" id="new_password_again" name="new_password" value="" class="form-control inputStyle">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="on_change_pass_commit()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<script type="text/javascript">
    $(document).ready(function(){
        $("#old_password").blur(function(){
            var old_ps = $("#old_password").val();
            $.ajax({
                type: "post",
                contentType: "application/x-www-form-urlencoded",
                url: "/admin_user/center?a=checkOldPass",
                data: {"old_password": old_ps},
                success: function (result) {
                    var obj = JSON.parse(result);
                    if (obj.status == 200) {
                        $("#tip1").html("OK");
                    }
                    else {
                        $("#tip1").html("密码错误");
                    }
                }
            })
        });
    })
</script>
{% end %}