{% extends '../../public/main.html' %}

{% block body %}
<script type="text/javascript">
</script>
<div class="nav"></div>
<br>
<div class="result_filter funnel">
    <form method="get" action="/media/search" class="form-inline" id="search_form">
        <div class="searchBox">
            <select class="form-control" title="搜索项" id="field" name="field">
                <option id="field_1" name="field" value="1">自媒体名称</option>
                <option id="field_4" name="field" value="4">简介</option>
                <option id="field_5" name="field" value="5">联系手机</option>
                <option id="field_6" name="field" value="6">联系QQ</option>
                <option id="field_7" name="field" value="7">联系微信</option>
                <option id="field_8" name="field" value="8">备注</option>
                <option id="field_9" name="field" value="9">综合信息</option>
            </select>
            <input class="form-control" title="搜索内容" type="text" id="query" name="query" value="{{condition['query']}}" class="typeText">
            <button type="button" id="search" class="form-control btn btn-default">搜索</button>
            <button type="button" id="more" class="form-control btn btn-default">高级搜索</button>
        </div>
        <div id="more_condition">
            <div class="colleft">
                <div class="valueInfo1">
                    <div>
                        <strong>行业</strong>
                        <div id="category_condition">
                            <a id="all_category">不限</a>
                        </div>
                    </div>
                    <div>
                        <strong>标签</strong>
                        <div id="tag_condition">
                            <a id="all_tag">不限</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="colright">
                <div class="audienceInfo">
                    <div>
                        <strong>地域</strong>
                        <div id="audience_area_condition">
                            <select id="audience_province_id" name="audience_province_id">
                                <option value="-1">--不限--</option>
                            </select>
                            <select  id="audience_city_id" name="audience_city_id">
                                <option value="-1">--不限--</option>
                            </select>
                            <select id="audience_county_id" name="audience_county_id">
                                <option value="-1">--不限--</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <strong>性别</strong>
                        <div id="audience_gender_condition">
                            <select title="性别" name="audience_gender">
                                <option name="audience_gender_op" value="-1">不限</option>
                                <option name="audience_gender_op" value="1">偏女性</option>
                                <option name="audience_gender_op" value="2">偏男性</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <strong>年龄</strong>
                        <div id="audience_age_condition">
                            <label><input type="checkbox" name="audience_age" value="1">70后</label>
                            <label><input type="checkbox" name="audience_age" value="2">80后</label>
                            <label><input type="checkbox" name="audience_age" value="3">85后</label>
                            <label><input type="checkbox" name="audience_age" value="4">90后</label>
                            <label><input type="checkbox" name="audience_age" value="5">95后</label>
                            <label><input type="checkbox" name="audience_age" value="6">其它</label>
                        </div>
                    </div>
                    <div>
                        <strong>职业</strong>
                        <div id="career_condition">
                            <label><input type="checkbox" name="audience_career" value="1">工薪阶层</label>
                            <label><input type="checkbox" name="audience_career" value="2">白领</label>
                            <label><input type="checkbox" name="audience_career" value="3">高管</label>
                            <label><input type="checkbox" name="audience_career" value="4">创业者</label>
                            <label><input type="checkbox" name="audience_career" value="5">企事业单位</label>
                            <label><input type="checkbox" name="audience_career" value="6">国企</label>
                            <label><input type="checkbox" name="audience_career" value="7">公职人员</label>
                            <label><input type="checkbox" name="audience_career" value="8">自由职业者</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<div>
    <table class="table table-bordered table-hover vert-align">
        <thead>
            <tr class="res_tbl_title">
                <td>ID</td>
                <td>媒体名称</td>
                <td>媒体类型</td>
                <td>备注</td>
                <td>创建时间</td>
                <td>更新时间</td>
            </tr>
        </thead>
        <tbody>
            {% for item in search %}
            <tr>
                <td>{{ item['id'] }}</td>
                <td>
                    <a href="/media/{{ item['platform'][0] }}?a=detail&id={{item['id']}}" title="简介：{{ item['brief'] }}">{{ item['name'] }}</a>
                </td>
                <td>{{ item['platform'][1] }}</td>
                <td width="20%"><div class="tabDisplay">{% raw item['remark'] if item['remark'] else '-' %}</div></td> 
                <td>{{ item['create_time'] }}</td>
                <td>{{ item['last_update_time'] }}</td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
<div>
    {% raw page_html %}
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("body").keyup(function () {
        if (event.which == 13) {
            $("#search").trigger("click");
        }
    });
    //省份
    $.ajax({
        type: "get",
        contentType: "application/json",
        url: "/yidao/media?a=getArea&parent_id=0",
        //data: "{}",
        success: function (result) {
            var obj = JSON.parse(result);
            var province_op = "";
            for (var i = 0; i < obj.data.length; i++) {
                province_op += '<option value=' + obj.data[i].id + '>';
                province_op += obj.data[i].name;
                province_op += '</option>';
            }
            $("#audience_province_id").append(province_op);
            $("#audience_province_id").val("{{condition['audience_province_id'] if condition['audience_province_id'] else -1 }}");
        }
    });
    $.ajax({
        type: "get",
        contentType: "application/json",
        url: "/yidao/media?a=getArea&parent_id=" + "{{condition['audience_province_id']}}",
        //data: "{}",
        success: function (result) {
            var obj = JSON.parse(result);
            var city_op = '';
            for (var i = 0; i < obj.data.length; i++) {
                city_op += '<option value=' + obj.data[i].id + '>';
                city_op += obj.data[i].name;
                city_op += '</option>';
            }
            $('#audience_city_id').append(city_op);
            $("#audience_city_id").val("{{condition['audience_city_id'] if condition['audience_city_id'] else -1}}");
        }
    });
    $.ajax({
        type: "get",
        contentType: "application/json",
        url: "/yidao/media?a=getArea&parent_id=" + "{{condition['audience_city_id']}}",
        //data: "{}",
        success: function (result) {
            var obj = JSON.parse(result);
            var county_op = '';
            for (var i = 0; i < obj.data.length; i++) {
                county_op += '<option value=' + obj.data[i].id + '>';
                county_op += obj.data[i].name;
                county_op += '</option>';
            }
            $('#audience_county_id').append(county_op);
            $("#audience_county_id").val("{{condition['audience_county_id'] if condition['audience_county_id'] else -1}}");
        }
    });
    //当省份发生改变时，城市改变
    $('#audience_province_id').change(function () {
        $('#audience_city_id option:gt(0)').remove();
        $('#audience_county_id option:gt(0)').remove();
        $.ajax({
            type: "get",
            contentType: "application/json",
            url: "/yidao/media?a=getArea&parent_id=" + $(this).val(),
            //data: "{}",
            success: function (result) {
                var obj = JSON.parse(result);
                var city_op = '';
                for (var i = 0; i < obj.data.length; i++) {
                    city_op += '<option value=' + obj.data[i].id + '>';
                    city_op += obj.data[i].name;
                    city_op += '</option>';
                }
                $('#audience_city_id').append(city_op);
            }
        })
    });

    //当城市改变时，县改变
    $('#audience_city_id').change(function () {
        $('#audience_county_id option:gt(0)').remove();
        $.ajax({
            type: "get",
            contentType: "application/json",
            url: "/yidao/media?a=getArea&parent_id=" + $(this).val(),
            //data: "{}",
            success: function (result) {
                var obj = JSON.parse(result);
                var county_op = '';
                for (var i = 0; i < obj.data.length; i++) {
                    county_op += '<option value=' + obj.data[i].id + '>';
                    county_op += obj.data[i].name;
                    county_op += '</option>';
                }
                $('#audience_county_id').append(county_op);
            }
        })
    });
    // 分类
    $.ajax({
        type: "get",
        contentType: "application/json",
        url: "/media/common?a=get_category_media",
        success: function (result) {
            var obj = JSON.parse(result);
            var cb = "";
            for (var i = 0; i < obj.data.length; i++) {
                cb += '<label>';
                cb += '<input type="checkbox" name="category" value=' + obj.data[i].id + '>';
                cb += obj.data[i].name;
                cb += '</label>';
            }
            $("#category_condition").append(cb);
            // 行业不限
            $('#all_category').click(function () {
                $("input[name=category]").each(function () {
                    $(this).attr("checked", false);
                })
            });
            // 回显
            $("input[name=category]").each(function () {
                if ($.inArray($(this).val(), '{{ condition["category"] }}'.split(',')) != -1) {
                    $(this).attr("checked", true);
                }
            });
        }
    });
    // 标签
    $.ajax({
        type: "get",
        contentType: "application/json",
        url: "/media/common?a=get_tag",
        success: function (result) {
            var obj = JSON.parse(result);
            var cb = "";
            for (var i = 0; i < obj.data.length; i++) {
                cb += '<label>';
                cb += '<input type="checkbox" name="tag" value=' + obj.data[i].id + '>';
                cb += obj.data[i].name;
                cb += '</label>';
            }
            $("#tag_condition").append(cb);
            // 标签不限
            $('#all_tag').click(function () {
                $("input[name=tag]").each(function () {
                    $(this).attr("checked", false);
                })
            });
            // 回显
            $("input[name=tag]").each(function () {
                if ($.inArray($(this).val(), '{{ condition["tag"] }}'.split(',')) != -1) {
                    $(this).attr("checked", true);
                }
            });
        }
    });
    $('#more').click(function () {
        $("#more_condition").toggle();
        if ($("#more_condition").is(":visible")) {
            $(".searchBox").addClass("searchBoxMore");
        } else {
            $(".searchBox").removeClass("searchBoxMore");
        }
        ;
    });
    // 提交搜索
    $('#search').click(function () {
        $('#search_form').submit();
    });
    var field = "{{ condition['field']}}";
    if (field != "") {
        $("option[name=field][value=" + field + "]").attr("selected", true);
    }
    $("input[name=audience_age]").each(function () {
        if ($.inArray($(this).val(), '{{ condition["audience_age"] }}'.split(',')) != -1) {
            $(this).attr("checked", true);
        }
    });
    $("input[name=audience_career]").each(function () {
        if ($.inArray($(this).val(), '{{ condition["audience_career"] }}'.split(',')) != -1) {
            $(this).attr("checked", true);
        }
    });
})
</script>
{% end %}
