{% extends '../public/main.html' %}
{% block title%}我的投放效果{% end %}
{% block body %}
<link href="{{ static_url('style/uc.css') }}" type="text/css" rel="stylesheet">

{% include 'my_top.html' %}
<div class="ucContainer clearfix">
{% include 'my_menu.html' %}
<div class="ucMain">
    <div class="title">
        <hr>
        <h3>我的投放效果</h3>
    </div>
    <div class="content">
        <ul class="feedbackList">
            <li class="feedbackBox">
                <div class="planInfo">
                    <div class="planTitle">你负责貌美如花，我负责赚钱养家</div>
                    <div class="planDate">2015-12-31 至 2016-01-04</div>
                </div>
                <div class="feedbackInfo">
                    <dl class="mediaNum">
                        <dt>成交自媒体</dt>
                        <dd><strong>12</strong></dd>
                    </dl>
                    <dl class="totalPrice">
                        <dt>成交金额</dt>
                        <dd><strong>48000</strong></dd>
                    </dl>
                    <dl class="readNum">
                        <dt>阅读数总计</dt>
                        <dd><strong>72000</strong></dd>
                    </dl>
                    <dl class="totalSales">
                        <dt>销售总额</dt>
                        <dd><strong>623500</strong></dd>
                    </dl>
                </div>
                <div class="roi">
                    <span>ROI</span>
                    <strong>12.9</strong>
                </div>
            </li>
            <li class="feedbackBox">
                <div class="planInfo">
                    <div class="planTitle">你负责貌美如花，我负责赚钱养家</div>
                    <div class="planDate">2015-12-31 至 2016-01-04</div>
                </div>
                <div class="feedbackInfo">
                    <dl class="mediaNum">
                        <dt>成交自媒体</dt>
                        <dd><strong>12</strong></dd>
                    </dl>
                    <dl class="totalPrice">
                        <dt>成交金额</dt>
                        <dd><strong>48000</strong></dd>
                    </dl>
                    <dl class="readNum">
                        <dt>阅读数总计</dt>
                        <dd><strong>72000</strong></dd>
                    </dl>
                    <dl class="totalSales">
                        <dt>销售总额</dt>
                        <dd><strong>623500</strong></dd>
                    </dl>
                </div>
                <div class="roi">
                    <span>ROI</span>
                    <strong>12.9</strong>
                </div>
            </li>
            <li class="feedbackBox">
                <div class="planInfo">
                    <div class="planTitle">你负责貌美如花，我负责赚钱养家</div>
                    <div class="planDate">2015-12-31 至 2016-01-04</div>
                </div>
                <div class="feedbackInfo">
                    <dl class="mediaNum">
                        <dt>成交自媒体</dt>
                        <dd><strong>12</strong></dd>
                    </dl>
                    <dl class="totalPrice">
                        <dt>成交金额</dt>
                        <dd><strong>48000</strong></dd>
                    </dl>
                    <dl class="readNum">
                        <dt>阅读数总计</dt>
                        <dd><strong>72000</strong></dd>
                    </dl>
                    <dl class="totalSales">
                        <dt>销售总额</dt>
                        <dd><strong>623500</strong></dd>
                    </dl>
                </div>
                <div class="roi">
                    <span>ROI</span>
                    <strong>12.9</strong>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
{% end %}