{% extends '../public/main.html' %}
{% block title%}
修改密码
{% end %}
{% block body %}
<link href="{{ static_url('style/uc.css')}}" type="text/css" rel="stylesheet">

{% include 'my_top.html' %}
<div class="ucContainer clearfix">
{% include 'my_menu.html' %}
<div class="ucMain userinfo-body">
    <div class="title">
        <hr>
        <h3>修改密码</h3>
    </div>
    <div class="content-box" id="changepwd-detail">
        <form class="form" action="/user?a=password" method="post" id="pwd" name="pwd">
            <div class="mj-row">
                <div class="mj-left">当前密码</div>
                <div class="mj-middle"><input type="password" maxlength="16" name="opwd" id="opwd" /></div>
                <div class="mj-right"></div>
            </div>
            <div class="mj-row">
                <div class="mj-left">新密码</div>
                <div class="mj-middle"><input type="password" maxlength="16" name="npwd" id="npwd" /></div>
                <div class="mj-right"></div>
            </div>
            <div class="mj-row">
                <div class="mj-left">确认密码</div>
                <div class="mj-middle"><input type="password" maxlength="16" name="npwd2" id="npwd2" /></div>
                <div class="mj-right"></div>
            </div>
            <div class="mj-row">
                <div class="mj-middle">
                    <div class="save-btn btn-with-blueBg-and-addBtn" id="save">保存</div>
                </div>
            </div>
        </form>
    </div>
</div></div>
<script type="text/javascript">
    $(function(){
        $('.tab-box').click(function(){
            if(!$(this).hasClass('select-box')){
                var id = $(this).attr('id');
                if(id=='basic'){
                    location.href = '/user';
                }else{
                    location.href = '/user?a=bind';
                }
            }
        });

        $('#save').click(function(){
            if(!checkInput($('#pwd').attr('name'))){
                return;
            }   

            $.ajax({
                url: '/account?a=change_password',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    'opwd': $.trim($('#opwd').val()),
                    'npwd': $.trim($('#npwd').val()),
                    'npwd2': $.trim($('#npwd2').val()),
                }
            }).then(function(d){
                if(d.status == 200){
                   showTipsBox('message', '保存成功');
                   $('#pwd')[0].reset();
                }else{
                    showTipsBox('alert', '保存失败, 请重试')
                }
            }, function(d){})
        });
    });

    function saveMsg(obj){
        var form = $(obj).parents('form');
        if(!checkInput(form.attr('name'))){
            return;
        }
        form.submit();
    }

    function checkInput(form){
        var needToReturn = true;
        $('form[name="' + form + '"] input').each(function(){
            if(!needToReturn) return;
            if($(this).val()=='' && $(this).attr('name')!='city_id'){
                var wrongMsg = '';
                switch ($(this).attr('name')){
                    case 'name':
                        wrongMsg = '请输入您的称呼';
                        break;
                    case 'opwd':
                        wrongMsg = '请输入当前密码';
                        break;
                    case 'npwd':
                        wrongMsg = '请输入新密码';
                        break;
                    case 'npwd2':
                        wrongMsg = '请确认新密码';
                        break;
                }
                alertBox(this,wrongMsg);
                needToReturn = false;
            }
            if($('input[name="npwd"]').val().length<6){
                alertBox($('input[name="npwd"]'),'密码至少为6位');
                needToReturn = false;
            }
            if($('input[name="opwd"]').val()==$('input[name="npwd1"]').val()){
                alertBox($('input[name="npwd1"]'),'新密码不能与原密码相同');
                needToReturn = false;
            }
            if($('input[name="npwd"]').val()!=$('input[name="npwd2"]').val()){
                alertBox($('input[name="npwd2"]'),'两次输入密码不一致');
                needToReturn = false;
            }

        });
        return needToReturn;
    }

    function alertBox(tf,textDetail){
        $(tf).addClass('alertBox').focus(function(){
            $(this).removeClass('alertBox');
            $(tf).parents('.mj-row').children('.mj-right').removeClass('alertWord').text(startWord)
        });
        var ttf = $($(tf).parent().next()).text();
        console.log(textDetail);
        startWord = ttf=="！" + textDetail?startWord:ttf;
        $(tf).parents('.mj-row').children('.mj-right').addClass('alertWord').text("！" + textDetail)
    }

</script>
{% end %}
