/* banner */
.banner{background-color:#fafafa;}
.bannerL{position:relative;z-index:9;overflow-x:hidden;width:100%;height:320px;background:#eee;}
.bannerL li{position:absolute;top:0;overflow:hidden;width:100%;height:320px;}
.bannerL a{display:block;width:100%;height:320px;text-align:center;}
.bannerL img{display:inline-block;height:320px;}
.bannerS{position:absolute;top:90%;left:50%;z-index:999;display:inline-block;}
.bannerS li{position:static;float:left;width:10px;height:10px;margin:0 5px;border:solid 1px #fff;border-radius:50%;}
.bannerS .current{background:#fff;}

/* notice */
.notice{width:1180px;height:14px;margin:0 auto;padding:23px 0;font-size:14px;line-height:14px;}
.notice h4{float:left;margin-right:20px;padding-right:10px;border-right:1px solid #aaa;font-weight:400;font-size:14px;}
.notice li{float:left;width:480px;}
.notice li .ydi{float:left;height:14px;padding-right:5px;color:#ccc;font-weight:400;font-size:10px;line-height:14px;text-align:center;}
.notice li a{color:#333;}
.notice li span{padding-left:10px;color:#ccc;}
.notice li strong{display:inline-block;margin-left:5px;padding:1px 2px;border-radius:2px;background-color:#ec4339;color:#fff;font-weight:400;font-size:12px;}
.noticePopup{display:none;position:fixed;top:50%;left:50%;z-index:999;width:640px;margin-top:-200px;margin-left:-360px;padding:40px;background-color:#00508c;color:#fff;font-size:14px;}
.noticePopup p{margin:1em 0;line-height:1.6em;}
.noticePopup em{display:inline-block;margin:0 5px;padding:0 5px;border-radius:2px;background-color:#2891eb;font-style:normal;}
.noticePopup div{float:left;margin-top:-50px;padding:0 15px;border-radius:4px;background-color:#f60;font-size:16px;line-height:40px;cursor:pointer;}
.noticePopup span{position:absolute;top:0;right:0;width:30px;height:30px;margin-top:-15px;margin-right:-15px;border-radius:50%;border:1px solid #00487e;background-color:#00508c;color:#fff;font-size:24px;line-height:26px;*line-height:30px;line-height:30px\0;text-align:center;cursor:pointer;}

/* guide */
.guide{width:1180px;margin:0 auto 40px;}
.guide div{position:relative;width:578px;height:98px;border:1px solid #ddd;border-radius:4px;background-color:#fff;transition:all 0.2s;}
.guide div:hover{border-color:#bbb;}
.guide .advertiser{float:left;}
.guide .media{float:right;margin:0;}
.guide img{float:left;width:60px;height:60px;margin-top:20px;margin-left:30px;}
.guide h2{float:none;margin-top:30px;margin-left:120px;font-weight:700;font-size:24px;line-height:38px;transition:all 0.2s;}
.guide div:hover h2{color:#0066C2;}
.guide p{margin-left:130px;color:#666;font-size:16px;}
.guide a{position:absolute;top:0;left:0;width:100%;height:100%;}
.guide a span{position:absolute;top:30px;right:40px;display:inline-block;padding:0 20px;border-radius:4px;background-color:#2891eb;color:#fff;font-size:16px;line-height:38px;transition:all 0.2s;}
.guide a .ydi{width:40px;padding:0;background-color:transparent;color:transparent;font-size:20px;text-align:center;}
.guide a:hover span{padding-right:35px;background-color:#0066C2;text-decoration:none;}
.guide a:hover .ydi{padding-right:0;background-color:transparent;color:#fff;}

/* content */
.title{overflow:hidden;width:1180px;height:40px;margin:0 auto;}
hr{height:19px;margin-top:0;margin-bottom:-21px;border-width:0 0 2px;border-style:solid;border-color:#ddd;}
h2{cursor:default;float:left;padding-right:20px;font-weight:normal;font-size:30px;line-height:40px;}
.homeBtn{float:left;margin-top:4px;padding-right:20px;}
.homeBtn .btn{display:inline-block;padding:0 10px;border-radius:5px;border:#666 1px solid;color:#666;font-size:14px;line-height:30px;cursor:pointer;transition:all 0.2s;}
.homeBtn .btn:hover{border-color:#2891eb;background-color:#2891eb;color:#fff;}
.more{float:right;margin-top:5px;padding-left:20px;font-size:14px;}
.more a{transition:all 0.2s;}
.more a,.more span{float:left;line-height:30px;}
.more span{color:#2891eb;font-size:15px;}
.content{width:1180px;margin:0 auto;}
.content ul{width:1200px;margin-left:-20px;}

/* task */
.task{padding:60px 0;}
.task,.task h2,.task .homeBtn,.task .more{background-color:#fafafa;}
.taskList li{cursor:default;overflow:hidden;float:left;width:250px;margin-left:20px;margin-top:20px;padding:14px;border:1px solid #ddd;background-color:#fff;border-radius:4px;transition:all 0.2s;}
.taskList li:hover{border-color:#bbb;}
.taskList div{width:250px;}
.taskList .taskCategory{display:inline-block;width:auto;margin-bottom:4px;padding:0 4px;border-radius:2px;background-color:#b4bec8;color:#fff;font-size:14px;line-height:18px;}
.taskTitle{font-size:18px;line-height:20px;}
.taskTitle a{overflow:hidden;display:inline-block;max-width:250px;border-bottom:1px solid transparent;font-weight:700;text-overflow:ellipsis;white-space:nowrap;transition:all 0.2s;}
.taskTitle a:hover{border-bottom-color:#0066C2;text-decoration:none;}
.taskDate{margin-top:8px;color:#666;font-size:12px;line-height:20px;}
.taskDate strong{font-weight:700;font-size:14px;}
.taskStatus{color:#666;font-size:12px;line-height:20px;}
.taskStatus em{color:#666;font-weight:700;font-style:normal;}
.task div.budget{float:right;width:auto;margin-top:-30px;color:#888;font-size:12px;line-height:30px;}
.task .budget span{padding-left:2px;color:#ec4339;}
.task .budget strong{font-weight:400;font-size:22px;}
.task .media{margin-top:20px;}
.task .media a{float:left;height:30px;padding:0 10px;border-radius:3px;border:1px solid #2891eb;background-color:#2891eb;color:#fff;line-height:30px;font-size:14px;transition:all 0.2s;}
.task .media a:hover{border-color:#0066C2;background-color:#0066C2;text-decoration:none;}
.task .media img{float:left;width:30px;height:30px;margin-right:10px;border-radius:20%;border:1px solid rgba(0,0,0,.1);*border:1px solid #ccc;border:1px solid #ccc\0;}
.task .media .detail{float:right;padding:0 5px;font-style:12px;}

/* case */
.case{padding:60px 0;background-color:#efefef;}
.case h2{margin-bottom:30px;background-color:#efefef;}
.case li{float:left;margin-top:20px;margin-left:20px;}
.case li img{border-radius:4px;}

/* hotMedia */
.hotMedia{padding:60px 0 40px;}
.hotMedia,.hotMedia h2,.hotMedia .homeBtn,.hotMedia .more{background-color:#efefef;}
.hotMedia .content{overflow:hidden;}
ul.mediaList{width:4800px;transition:margin-left 0.8s cubic-bezier(0.2,1,0.2,1);}
.mediaList li{cursor:default;position:relative;float:left;width:368px;margin-left:30px;margin-top:30px;border-radius:4px;border:1px solid #ddd;background-color:#fff;color:#666;transition:all 0.2s;}
.mediaList li:hover{border-color:#bbb;}
.mediaList a{transition:all 0.2s;}
.mediaList div{margin-left:100px;color:#888;font-size:12px;line-height:20px;}
.mediaList div span{color:#666;}
.mediaList div em{padding-right:10px;color:#666;font-style:normal;font-size:14px;}
.mediaList strong{color:#ec4339;font-weight:400;font-size:16px;}
.mediaList strong span{padding-left:2px;color:#ec4339;font-size:12px;}
.mediaList .avatar{position:absolute;top:-10px;left:-10px;margin-left:0;}
.mediaList .avatar img{width:100px;height:100px;border-radius:20%;border:1px solid rgba(0,0,0,.1);transition:all 0.2s;}
.mediaList li:hover .avatar img{border-color:rgba(0,0,0,.2)}
.mediaList .name{overflow:hidden;display:block;height:20px;margin:15px 0 10px 100px;font-weight:700;font-size:18px;line-height:18px;transition:all 0.2s;}
.mediaList .name a{overflow:hidden;float:left;max-width:230px;border-bottom:1px solid transparent;text-overflow:ellipsis;white-space:nowrap;}
.mediaList li .name a:hover{border-bottom-color:#0066C2;text-decoration:none}
.mediaList .original{overflow:hidden;float:left;width:18px;height:18px;margin-left:5px;border-radius:50%;background-color:#f70;color:#fff;font-weight:400;font-size:12px;line-height:18px;text-align:center;}
.mediaList .rank{display:inline-block;width:18px;height:18px;margin-left:0;border-radius:50%;background-color:#2891eb;color:#fff;line-height:18px;text-align:center;}
.mediaList .mediaCategory{float:left;height:20px;margin-right:10px;}
.mediaList .mediaCategory span{float:left;margin-right:6px;padding:0 4px;border:1px solid #ccc;background-color:#fff;color:#333;font-size:12px;line-height:18px;white-space:nowrap;}
.mediaList .mediaTag{height:20px;}
.mediaList .mediaTag span{float:left;margin-right:6px;padding:1px 4px;border-radius:9px;background-color:#eee;color:#666;line-height:18px;white-space:nowrap;}
.mediaList .cateTag{font-size:14px;}
.mediaList .customer{overflow:hidden;margin-top:10px;margin-left:0;padding-left:10px;border-top:1px solid #ddd;border-radius:0 0 4px 4px;background-color:#f6f6f6;font-size:14px;line-height:40px;text-overflow:ellipsis;white-space:nowrap;}
.hotMedia .pagination{display:block;margin:20px 0 0;text-align:center;}
.hotMedia .pagination div{width:28px;height:28px;margin:0 5px;border:1px solid #ddd;border-radius:3px;color:#999;font-size:20px;line-height:28px;}
.hotMedia .pagination ol{display:inline-block;}
.hotMedia .pagination li{cursor:pointer;overflow:hidden;display:inline-block;width:10px;height:10px;margin:0 5px;border-radius:50%;background-color:#ddd;text-indent:-999em;}
.hotMedia .pagination .current{background-color:#2891eb;}

/* mediaShow */
.mediaShow{padding:60px 0;background-color:#fafafa;}
.mediaShow div.clearfix{width:1180px;margin:0 auto;}

/* starMedia */
.starMedia{float:left;width:380px;}
.starMedia h2{background-color:#fafafa;}
.starMedia .title{width:380px;}
.starMedia .content{cursor:default;width:340px;margin-top:20px;padding:19px;border-radius:4px;border:1px solid #ddd;background-color:#fff;color:#666;transition:all 0.2s;}
.starMedia .content:hover{border-color:#bbb;}
.starMedia .content .articleTitle{height:30px;color:#2891eb;font-weight:700;font-size:20px;line-height:24px;}
.starMedia .content .articleTitle a{overflow:hidden;display:inline-block;max-width:340px;border-bottom:1px solid transparent;text-overflow:ellipsis;white-space:nowrap;}
.starMedia .content .articleTitle a:hover{border-bottom-color:#0066C2;color:#0066C2;text-decoration:none}
.starMedia .content .articleSummary{height:70px;margin-top:5px;line-height:18px;}
.starMedia .content a{transition:all 0.2s;}
.starMedia .content .media div{margin-left:80px;color:#888;font-size:12px;line-height:18px;}
.starMedia .content .media div span{color:#666;}
.starMedia .content .media div em{padding-right:10px;color:#666;font-style:normal;}
.starMedia .content strong{color:#ec4339;font-weight:400;font-size:16px;}
.starMedia .content strong span{padding-left:2px;color:#ec4339;font-size:12px;}
.starMedia .content .media .avatar{float:left;margin-left:0;}
.starMedia .content .media .avatar img{width:58px;height:58px;border-radius:20%;border:1px solid rgba(0,0,0,.1);transition:all 0.2s;}
.starMedia .content:hover .avatar img{border-color:rgba(0,0,0,.2)}
.starMedia .content .media .name{overflow:hidden;display:block;height:18px;margin:0 0 6px 80px;font-weight:700;font-size:18px;line-height:18px;transition:all 0.2s;}
.starMedia .content .media .name a{overflow:hidden;float:left;max-width:230px;border-bottom:1px solid transparent;text-overflow:ellipsis;white-space:nowrap;}
.starMedia .content .media .name a:hover{border-bottom-color:#0066C2;text-decoration:none}
.starMedia .content .media .original{overflow:hidden;float:left;width:18px;height:18px;margin-left:5px;border-radius:50%;background-color:#f70;color:#fff;font-weight:400;font-size:12px;line-height:18px;text-align:center;}
.starMedia .content .media .rank{display:inline-block;width:18px;height:18px;margin-right:20px;border-radius:50%;background-color:#2891eb;color:#fff;line-height:18px;text-align:center;}

/* topMedia */
.topMedia{float:right;width:780px;}
.topMedia .title{width:780px;}
.topMedia h2{background-color:#fafafa;}
.topMedia .content{width:780px;}
.topMedia .topList{width:800px;}
.topList li{cursor:default;float:left;width:340px;margin-left:20px;margin-top:20px;padding:19px;border:1px solid #ddd;background-color:#fff;border-radius:4px;transition:all 0.2s;}
.topList li:hover{border-color:#bbb;}
.topList div{margin-left:80px;color:#888;font-size:12px;line-height:18px;}
.topList em{color:#666;font-style:normal;}
.topList .avatar{float:left;margin-left:0;}
.topList .avatar img{width:58px;height:58px;border-radius:20%;border:1px solid rgba(0,0,0,.1);transition:all 0.2s;}
.topList .avatar img:hover{border-color:rgba(0,0,0,.2)}
.topList .name{overflow:hidden;display:block;height:20px;margin:0 0 4px 80px;font-weight:700;font-size:18px;line-height:18px;}
.topList .name a{overflow:hidden;float:left;max-width:230px;border-bottom:1px solid transparent;text-overflow:ellipsis;white-space:nowrap;transition:all 0.2s;}
.topList li .name a:hover{border-bottom-color:#0066C2;text-decoration:none}
.topList .customer{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/* partner */
.partner{width:1180px;margin:20px auto 0;line-height:1;}
.partner hr{margin-bottom:20px;}
.partner h4{float:left;margin-right:10px;color:#555;font-weight:700;font-size:12px;}
.partner ul{margin-left:60px;}
.partner li{float:left;margin-bottom:5px;padding:0 10px;border-right:1px solid #999;}
.partner li a{color:#555;transition:all 0.2s;}