{% extends '../public/main.html' %}
{% block title %}关于我们{% end %}
{% block body %}
<link href="{{ static_url('style/user_center.css') }}" type="text/css" rel="stylesheet">

<div class="aboutus">
	<section>
		<dl>
			<dt>壤歌是谁？</dt>
			<dd>
				<p>壤歌是由一群媒体人、技术人和营销人共同于 2014 年成立的一家结合技术与营销的新营销公司。其本意在于为企业客户提供基于新媒体技术的营销策划与执行。然而，在服务客户的过程中，这些人发现，对于单独客户的服务，往往又堕入了传统的媒体 - 客户信息不对称陷阱。于是，就有了以解决这种信息不对称作为目标的新业务形态。</p>
				<p>壤歌立志于改变传统营销的弊端，从而创造新技术条件下的新营销业态。</p>
			</dd>
		</dl>
	</section>
	<section>
		<dl>
			<dt>一道是什么？</dt>
			<dd>
				<p>一道是壤歌数字所建立的一个服务中国自媒体的工具平台。其旨在通过为自媒体提供运营、生产、营销工具，从而凸显优质自媒体，提升优质自媒体价值。</p>
			</dd>
		</dl>
	</section>
	<section>
		<dl>
			<dt>自媒体</dt>
			<dd>
				<p>壤歌及其旗下的一道，认同自媒体乃是中国媒体的未来和希望。凡是区别于旧有的垄断性性质、基于新媒体形态的、并具有媒体形态的产品，我们都认为是自媒体。自媒体的平台是多元的，自媒体的产权是多元的，自媒体的目的也是多元的。我们认同并且服从于这些多元性，并且以服务所有这些多元的自媒体作为我们的天职。</p>
			</dd>
		</dl>
	</section>
	<section>
		<dl>
			<dt>未来与我们</dt>
			<dd>
				<p>我们相信自媒体将是革新中国媒体形态的未来力量，并且相信自媒体使所有的人都拥有了表达权和话语权。我们期望通过倡导、服务和提升这些自媒体，协助自媒体实现其价值，协助自媒体从现有的营销陷阱中跃出，协助整个营销行业从混沌走向清明，从而能够成为整个自媒体产业兴盛和营销产业革命洪流中谦卑的侍从，并为整个媒体世界的改变而感到骄傲。</p>
			</dd>
		</dl>
	</section>
</div>
{% end %}
