{% extends '../public/main.html' %}
{% block title %}联系我们{% end %}
{% block body %}
<link href="{{ static_url('style/user_center.css') }}" type="text/css" rel="stylesheet">

<div class="contactus">
	<ul class="clearfix">
		<li>
			<h2>有关产品</h2>
			<p>一切有关于产品、产品使用及故障等问题，请联系产品研发部</p>
			<strong>p@rangedigit.com</strong>
		</li>
		<li>
			<h2>常年招聘</h2>
			<p>我们常年招聘开发、运营、BD 及销售，请联系人事部</p>
			<strong>hr@rangedigit.com</strong>
		</li>
		<li>
			<h2>随时合作</h2>
			<p>我们随时期待与自媒体平台、自媒体、营销客户等与自媒体相关或数字营销相关的小伙伴们进行合作。请联系商业拓展（BD）部</p>
			<strong>o@rangedigit.com</strong>
		</li>
	</ul>
</div>
{% end %}
