/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, input, p, textarea { padding: 0; margin: 0; outline: none; }
body { font: 12px/1.5 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif; color: #333; height: 100%; min-width: 960px; min-height: 540px; overflow-x: hidden;}
a { color: #333; text-decoration: none; transition: all 0.3s; }
a:hover { color: #2891eb; }
img { border: none; vertical-align: top; }
li { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* base */
body{background-color:#f8f8f8;}
.clearfix { *zoom: 1;
}
.clearfix:after { display: block; overflow: hidden; clear: both; height: 0; visibility: hidden; content: '.'; }
/* fonts */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-v3ejyn');
	src:url('fonts/icomoon.eot?#iefix-v3ejyn') format('embedded-opentype'),
		url('fonts/icomoon.woff?-v3ejyn') format('woff'),
		url('fonts/icomoon.ttf?-v3ejyn') format('truetype'),
		url('fonts/icomoon.svg?-v3ejyn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-fonts{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* home */
.page-home .main{max-width: 1240px;margin:0 auto;}
.page-home .column-left{float:left;}
.page-home .column-right{margin-left:340px;}
.page-home .user{width:280px;margin-bottom:20px;padding:19px;border:1px solid #e6e6e6;border-top:none;background-color:#fff;}
.page-home .user .avatar {float: left;}
.page-home .user .avatar a{overflow:hidden;display:block;width:100px;height:100px;border-radius:50%;border:1px solid #e6e6e6;}
.page-home .user .avatar a:hover {border-color:#2891EB;}
.page-home .user .avatar img{width:100px;height:100px;}
.page-home .user .info {float: right;width:160px;font-size:14px;}
.page-home .user .info h2{overflow: hidden;width:160px;font-size:24px;white-space: nowrap; text-overflow: ellipsis;}
.page-home .user dl{margin-top:5px;}
.page-home .user dt{float:left;width:42px;}
.page-home .kits{margin-bottom:20px;background-color:#2891EB;}
.page-home .kits .kits-deal{position:relative;float:left;width:55%;height:200px;background:url(../images/kits-deal.png) 50% 20px no-repeat;}
.page-home .kits .kits-winwin{position:relative;float:left;width:45%;height:200px;background:url(../images/kits-winwin.png) 50% 0 no-repeat;}
.page-home .kits h2{display:none;}
.page-home .kits div div{position:absolute;left:50%;margin-top:120px;margin-left:-110px;}
.page-home .kits .btn{opacity: 0.8;display:inline-block;width:100px;height:40px;margin:0 5px;border-radius:8px;background-color:#f90;color:#fff;font-size:16px;font-weight:700;line-height:40px;text-align:center;}
.page-home .kits .btn:hover{opacity:1;}
.page-home .wemedia{margin-bottom:20px;border:1px solid #e6e6e6;background-color: #fff;font-size:16px;}
.page-home .wemedia h2{margin-top:19px;margin-left:29px;font-weight:400px;font-size:20px;}
.page-home .wemedia ul{margin-top:20px;margin-left:10px;margin-right:28px;}
.page-home .wemedia li{float:left;margin-bottom:19px;margin-left:18px;}
.page-home .wemedia li a{display:block;}
.page-home .wemedia li a:hover{color:#333;}
.page-home .wemedia li strong,.page-home .wemedia li img{display:block;width:100px;height:100px;border-radius:50%;border:1px solid #e6e6e6;background-color: #f8f8f8;}
.page-home .wemedia li strong{transition:0.3s;color:#999;font-size:50px;line-height:100px;text-align:center;}
.page-home .wemedia li a:hover strong{border-color:#2891EB;background-color:#e9f4fd;color:#2891EB;font-size:60px;}
.page-home .wemedia li span{overflow: hidden;display:block;width:96px;margin-top:10px;margin-left:2px;text-align:center;white-space: nowrap; text-overflow: ellipsis;}

/* user-page */
.page-user-display .caption{padding:30px;background-color:#2891EB;}
.page-user-display .caption .avatar{width:100px;margin:0 auto;}
.page-user-display .caption .avatar img{width:100px;height:100px;border-radius:50%;}
.page-user-display .caption .username{padding-top:10px;color:#fff;font-size:20px;text-align:center;}
.page-user-display .wemedia{max-width: 1240px;margin:20px auto;border:1px solid #e6e6e6;background-color: #fff;font-size:16px;}
.page-user-display .wemedia h2{margin-top:19px;font-weight:400px;font-size:20px;text-align:center;}
.page-user-display .wemedia ul{margin-top:20px;margin-left:10px;margin-right:28px;text-align:center;}
.page-user-display .wemedia li{display:inline-block;margin-bottom:19px;margin-left:18px;}
.page-user-display .wemedia li a{display:block;}
.page-user-display .wemedia li a:hover{color:#2891EB;}
.page-user-display .wemedia li img{display:block;width:100px;height:100px;border-radius:20px;border:1px solid #e6e6e6;background-color: #f8f8f8;}
.page-user-display .wemedia li span{overflow: hidden;display:block;width:96px;margin-top:10px;margin-left:2px;text-align:center;white-space: nowrap; text-overflow: ellipsis;}


/* form */
.page-form{background-color:#fff;}
.page-form .caption{height:60px;padding-top:100px;background-color:#2891EB;}
.page-form h2{width:400px;margin:0 auto;color:#fff;font-weight:400;font-size:32px;line-height:32px;}
.page-form .content{padding:40px 0;}
.page-form .item{width:960px;margin:0 auto 16px;line-height:44px;}
.page-form .item label{float:left;width:260px;margin-right:18px;color:#666;font-size:16px;text-align:right;}
.page-form .item span{float:left;margin-bottom:-18px;}
.page-form .item span b{display:inline-block;padding-left:20px;color:#999;font-weight:400;}
.page-form .item span img{width:200px;margin-bottom:20px;}
.page-form .item .text{outline:none;transition: all 0.3s;display:block;width:380px;height:18px;margin-bottom:18px;padding:11px 10px;box-shadow:inset 1px 1px 2px #e6e6e6;border-radius:3px;border:2px #fff solid;background:#F0F0F0;font:inherit;font-size:16px;line-height:18px;}
.page-form .item .text:focus{box-shadow:none;border-color:#2891EB;background-color:#e9f4fd;}
.page-form .item .text:hover{box-shadow:inset 0 0 1px #2891EB;background-color:#e9f4fd;}
.page-form .item textarea{resize:none;overflow:auto;outline:none;transition: all 0.3s;width:380px;height:120px;padding:11px 10px;box-shadow:inset 1px 1px 2px #e6e6e6;border-radius:3px;border:2px #fff solid;background:#F0F0F0;font:inherit;font-size:16px;line-height:22px;}
.page-form .item textarea:focus{box-shadow:none;border-color:#2891EB;background-color:#e9f4fd;}
.page-form .item textarea:hover{box-shadow:inset 0 0 1px #2891EB;background-color:#e9f4fd;}
.page-form .item .file{cursor:pointer;transition:all 0.3s;outline:none;height:40px;padding:0 15px;border-radius:4px;border:none;background-color:#f0f0f0;color:#666;font:inherit;font-size:14px;}
.page-form .item .file:hover{box-shadow:0 0 2px #2891EB;background-color:#e9f4fd;}
.page-form .item em{float:right;width:260px;padding-top:10px;color:#999;font-style:normal;line-height:24px;}
.page-form .item em img{height:100px;}
.page-form .addbtn{float:left;width:400px;margin-top:18px;margin-left:200px;background-color:#e6e6e6;font-size:14px;line-height:20px;text-align:center;}
.page-form .addbtn strong{float:left;font-weight:400;font-size:20px;}
.page-form .btn{margin:58px;text-align:center;}
.page-form .btn button{cursor:pointer;transition:all 0.3s;outline:none;width:200px;height:50px;border-radius:10px;border:none;background-color:#5AAAF5;color:#fff;font:inherit;font-size:18px;}
.page-form .btn button:hover{background-color:#2891EB;}

/* lawyer-info */
.page-lawyer-info .main{max-width:1240px;margin:20px auto;}
.page-lawyer-info .content{position:relative;padding:50px 0;border:1px solid #e6e6e6;background-color:#fff;font-size:16px;}
.page-lawyer-info .item{margin:10px 60px;line-height:30px;}
.page-lawyer-info .item label{float:left;width:90px;padding-right:10px;font-weight:700;font-size:18px;text-align:right;}
.page-lawyer-info .item span{float:left;}
.page-lawyer-info .item span.long-text{float:none;clear:both;display:block;}
.page-lawyer-info .verify-status{position:absolute;right:50px;top:50px;width:48px;height:48px;padding:16px;border-radius:50%;background-color:#f70;color:#fff;font-size:24px;line-height:24px;}
.page-lawyer-info .verify-status-pending{background-color:#f70;}
.page-lawyer-info .verify-status-verified{background-color:#0db;}
.page-lawyer-info .verify-status-failed{background-color:#e14779;}

/* rights-info */
.page-rights-info .main{max-width:1240px;margin:20px auto;}
.page-rights-info .plaintiff{float:right;width:260px;border:1px solid #e6e6e6;background-color:#fff;font-size:12px;}
.page-rights-info h2{padding-left:30px;border-bottom:1px solid #e6e6e6;font-size:20px;line-height:60px;}
.page-rights-info .plaintiff dl{padding:10px 30px;font-size:16px;line-height:30px;}
.page-rights-info .plaintiff dt{float:left;font-weight:700;}
.page-rights-info .rights-detail{margin-right:280px;border:1px solid #e6e6e6;background-color:#fff;font-size:12px;}
.page-rights-info .rights-detail .original,.page-rights-info .rights-detail .copy{margin-bottom:20px;padding:10px 30px;}
.page-rights-info .rights-detail h3{margin-bottom:10px;border-bottom:1px solid #e6e6e6;font-size:18px;line-height:40px;}
.page-rights-info .rights-detail .item{padding:20px 0;}
.page-rights-info .rights-detail .avatar{overflow:hidden;float:left;width:60px;height:60px;border-radius:12px;border:1px solid #e6e6e6;}
.page-rights-info .rights-detail .avatar img{width:60px;height:60px;}
.page-rights-info .rights-detail .title{margin-top:7px;margin-left:80px;font-size:16px;line-height:24px;}
.page-rights-info .rights-detail .title a:hover{text-decoration:underline;}
.page-rights-info .rights-detail .title i{padding-left:20px;color:#999;font-style:normal;font-size:12px;}
.page-rights-info .rights-detail .source-name{margin-left:80px;color:#666;font-size:14px;line-height:24px;}
.page-rights-info .rights-detail .add-wechat-tips{display:inline-block;margin-left:80px;padding:3px 3px 3px 10px;border-radius:3px;background-color:#f0f0f0;font-size:14px;line-height:24px;}
.page-rights-info .rights-detail .add-wechat-tips strong{padding:0 3px;}
.page-rights-info .rights-detail .add-wechat-tips a{display:inline-block;padding:0 5px;border-radius:2px;background-color:#5AAAF5;color:#fff;}
.page-rights-info .rights-detail .add-wechat-tips a:hover{background-color:#2891EB;}







