{% extends '../public/main.html' %}

{% block body %}
<div class="status_title">
    <div>
        <a href="javascript:history.go(-1);">返回</a>
    </div>
</div>
<table class="table table-bordered table-hover vert-align">
    <thead>
        <tr class="res_tbl_title">
            <td>序号</td>
            <td>需求单所属账户</td>
            <td>自媒体</td>
            <td>自荐描述</td>
            <td>状态</td>
            <td>创建时间</td>
        </tr>
    </thead>
    {% for item in take_order_info %}
    <tbody>
        <tr>
            <td>{{ item['idx'] }}</td>
            <td>{{ item['nickname'] }}</td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['description'] }}</td>
            <td>{{ item['status_tag'] }}</td>
            <td>{{ item['create_time'] }}</td>
        </tr>
    </tbody>
    {% end %}
</table>
{% end %}