{% extends '../public/main.html' %}

{% block body %}
<link href="{{ static_url('style/self_media.css') }}" type="text/css" rel="stylesheet" >
<link href="{{ static_url('style/demand_case.css') }}" type="text/css" rel="stylesheet" >
<link href="{{ static_url('style/jquery.mCustomScrollbar.min.css') }}" type="text/css" rel="stylesheet">

<div class="case-title">
    <div class="main-box current-page" >
        	自媒体接单
        <div class="riangle-right"></div>
    </div>
    <div class="main-box box-middle ">
        广告主选择自媒体并付款
        <div class="riangle-left"></div>
        <div class="riangle-right"></div>
    </div>

    <div class="main-box box-right">
        自媒体支付押金
        <div class="riangle-left"></div>
    </div>

</div>
<div class="case-page-detail mini-page">

    <div class="time-box">
        <div class="title">营销时间</div>
        <div class="date-detail">{{ demand['time_begin'] }}<small> 至 </small>{{ demand['time_end'] }}</div>
    </div>

    <div class="title">{{ demand['title'] }}</div>
    <div class="intrested-container">

        {% for item in demand['category'] %}
        <div class="interestedBox">{{ item['name'] }}</div>
        {% end %}
        <!--{% end %}-->
    </div>
    <div class="static-word">预算总额：</div>
    <div>
        <span class="cost"><small>￥</small>{{ demand['money'] }}</span>
        {% if demand['invoice'] %}
        <span class="static-word"><img src="{{ static_url('images/need-invoice.png') }}"/><small> 需要发票</small></span>
        {% end %}
        
    </div>
    <div class="static-word">需求描述：</div>
    <p>{{ demand['description'] }}
    </p>
</div>
<div class="up-down-btn">
    <div class="has-accepted">已有<span class="number">{{ jiedan_num }}</span>个自媒体接单</div>
    <div class="up-btn" onclick="showHideDetail()">
        <img id="up-down" src="{{ static_url('images/navLitPointer.png') }}" />
    </div>
</div>

<div class="sm-first-pick-sm-get">
    <div class="title">选择自媒体接单</div>
    <div class="container">
		<form name='demand_accept' action="/demand?a=acceptdo&id={{ demand['demand_id'] }}" method="post" autocomplete="off" enctype="multipart/form-data">
			<input name="oas_ids" type="hidden" value="2" />
			<input name="phone" type="hidden" value="13521162221" />
            <div class="add-box">
                <div class="add-btn" onclick="onLinkAddSm(this)"><span class="icon-fonts">+</span></div>
                <h5>添加公众号</h5>
            </div>
    	{% for item in official_account %}
        <div class="head-box" data="{{ item['id'] }}">
        	<input name="price_{{ item['id'] }}" type="hidden" value="{{ item['prices']['price_1x'] }},{{ item['prices']['price_x1'] }},{{ item['prices']['price_x2'] }},{{ item['prices']['price_xx'] }}" />
        	<select name="category_{{ item['id'] }}" style="display:none;">
        	</select>
            <div class="choose-area">
                <div class="tick tick-normal"></div>
                <img src="{{ item['avatar'] }}" width="100" height="100">
                <div class="back-board"></div>
            </div>
            <div class="msg-btn msg-btn-normal" onclick="changeMsg(this)">修改信息</div>
            <h5>{{ item['name'] }}</h5>
        </div>
        {% end %}
		</form>
    </div>
    <div class="down-content reset-down-msg">
        <div class="has-accepted">已选择<span class="number" id="totalPicked">0</span>个自媒体</div>
        <div onclick="accept_demand()" class="btn-with-blueBg-and-addBtn accept-btn dark-btn" id="accept-btn">接单</div>
        <div class="input-mobile">联系手机<input type="text" maxlength="11" value="{{ user['phone'] }}"></div>
    </div>
</div>

<div class="light-cover" id="case-cost" style="display: none;" sid="">
    <div class="change-msg-box">
        <div class="login-close"><span class="icon-close" onClick="lightbox('case-cost');close_side();"></span></div>
        <div class="bg-box-line"></div>
        <div class="bg-box-line2"></div>
        <div class="title title-one">接单报价</div>
        <div class="title title-two">其他信息</div>
        <div class="m-row">
            <span class="m-left">单图文</span>
            <span class="m-middle"><input name="price_1x" type="text" /></span>
            <span class="m-right">单图文消息</span>
        </div>
        <div class="m-row">
            <span class="m-left">多图文首条</span>
            <span class="m-middle"><input name="price_x1" type="text" /></span>
            <span class="m-right">多图文消息的第一条</span>
        </div>
        <div class="m-row">
            <span class="m-left">多图文二条</span>
            <span class="m-middle"><input name="price_x2" type="text" /></span>
            <span class="m-right">多图文消息的第二条</span>
        </div>
        <div class="m-row">
            <span class="m-left">多图文其他</span>
            <span class="m-middle"><input name="price_xx" type="text" /></span>
            <span class="m-right">多图文消息的其他条</span>
        </div>
        <div class="m-row more-spacing">
            <span class="m-left" >需求类型</span>
            <span class="m-middle " id="trade-container">
                <div class="pick-btn btn-with-blueBg-and-addBtn" id="show-side-list"><span>+</span>选择需求类型</div>
            </span>
            <span class="m-right">选择你所属的行业或者营销受众范围为保证效果，最多选择5项</span>
        </div>
        <div class="m-row">
            <span class="m-left" ></span>
            <span class="m-middle">
                <button id="post_btn" type="button" onclick="save_select()" class="submit-btn">保存并选择</button>
            </span>
            <span class="m-right"></span>
        </div>
    </div>
</div>
{% include '../User/pop_category.html' %}
<script src="{{ static_url('script/jquery.mCustomScrollbar.concat.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var chooseList = [];
    var changeId;
    var changeObj;
    var checkTfNumber = 0;
    var pickSm;
    function showHideDetail(){
        if($('.case-page-detail').hasClass('mini-page')){
            $('.case-page-detail').removeClass('mini-page');
            $('#up-down').addClass('btn-rotate');
        }else{
            $('.case-page-detail').addClass('mini-page');
            $('#up-down').removeClass('btn-rotate');
        }
        checkFootLocation();
    }
    $(function(){
        $('.choose-area').click(function(){
            if($(this).children('.tick').hasClass('tick-normal')){
                pickSm = this;
                changeMsg($(this).next());
            }else{
                $(this).children('.tick').addClass('tick-normal').removeClass('tick-clicked');
                $(this).children('.back-board').removeClass('bg-clicked');
                $(this).next('.msg-btn').removeClass('bg-clicked').addClass('msg-btn-normal');
                $('#totalPicked').text(parseInt($('#totalPicked').text())-1);
                if($('#totalPicked').text()=='0'){
                    $('#accept-btn').addClass('dark-btn');
                }else{
                    $('#accept-btn').removeClass('dark-btn');
                }
            }
            /////////////////////////////////////////////////////////////////cfz


        });
        $('.m-row input').keyup(function(){
            if(!isNaN(this.value)){
                checkTfNumber = this.value;
            }else{
                this.value = checkTfNumber;
            }
        }).focus(function(){
            checkTfNumber = this.value;
        })
        $('.input-mobile').keyup(function(e){
            if(!checkMovile($('.input-mobile input').val())){
                if(!$('#accept-btn').hasClass('dark-btn')){
                    $('#accept-btn').addClass('dark-btn');
                }
            }else{
                if(parseInt($('#totalPicked').text())>0){
                    $('#accept-btn').removeClass('dark-btn');
                }
            }
        })

        $('#case-cost input').keyup(function(){
            if(!isNaN(this.value)){
                checkTfNumber = this.value.split(' ').join('');
            }else{
                this.value = checkTfNumber;
            }
        }).focus(function(){
            checkTfNumber = this.value;
        }).focusout(function(){
            this.value = checkTfNumber;
        });
    });

    function onLinkAddSm(obj){
        location.href = '/user?a=media_create';  /*'?next=' + location.href;*/
    }

    function chooseThis(){
        if($(pickSm).children('.tick').hasClass('tick-normal')){
            $(pickSm).children('.tick').removeClass('tick-normal').addClass('tick-clicked');
            $(pickSm).children('.back-board').addClass('bg-clicked');
            $(pickSm).next().addClass('bg-clicked').removeClass('msg-btn-normal')
            $('#totalPicked').text(parseInt($('#totalPicked').text())+1);
            if(checkMovile($('.input-mobile input').val())){
                $('#accept-btn').removeClass('dark-btn');
            }
        }
        var oids = [];
        $('.head-box').each(function(i, e){
            if ($(e).find('.choose-area .tick').hasClass('tick-clicked')){
                oids.push($(e).attr('data'));
            }
        });
        $('input[name="oas_ids"]').val(oids.join(','));
    }

    function changeMsg(obj){
    	var xxs = $(obj).prev().prev().prev().val().split(',');
    	var cs = $(obj).prev().prev().find('option')
		var sid = $(obj).parent().attr('data');
		$('#case-cost').attr('sid', sid);
		$('#case-cost input[name="price_1x"]').val(xxs[0]==0?'':xxs[0]);
		$('#case-cost input[name="price_x1"]').val(xxs[1]==0?'':xxs[1]);
		$('#case-cost input[name="price_x2"]').val(xxs[2]==0?'':xxs[2]);
		$('#case-cost input[name="price_xx"]').val(xxs[3]==0?'':xxs[3]);

        var list = $(obj).parent().children('select').children('option');
        tradeList = [];
        $('.side-trade-list .interestedBox').removeClass('picked');
        $('#trade-container .interestedBox').remove();
        for(var i=0;i<list.length;i++){
            $('#trade-container').prepend('<div class="interestedBox"id=inner' + $(list[i]).attr('value') + ' data="'+ $(list[i]).attr('value') +'"><span class="deleteBtn">删除</span>'+$(list[i]).text() + '</div>');
            $('#c_'+$(list[i]).attr('value')).addClass('picked');
            tradeList.push($(list[i]).attr('value'));
            $('#inner'+$(list[i]).attr('value')).click(function(){
                var id = $(this).attr('data');
                $('#c_'+id).removeClass('picked');
                $(this).remove();
                tradeList.splice(getListNum(tradeList,id),1);
                $('input[name="category_list"]').val(tradeList.join(','));
                $('#trade-container').parent().css('height',$('#trade-container').height()>pop_height?$('#trade-container').height():pop_height);
            });
        }
        setTimeout(function(){$('#trade-container').parent().css('height',$('#trade-container').height()>pop_height?$('#trade-container').height():pop_height);},100);
        changeId = $(obj).parent().attr('data');
        changeObj = $(obj).parent();
        lightbox('case-cost');
    }

    function save_select(){
		a1 = $('#case-cost input[name="price_1x"]').val();
		a2 = $('#case-cost input[name="price_x1"]').val();
		a3 = $('#case-cost input[name="price_x2"]').val();
		a4 = $('#case-cost input[name="price_xx"]').val();
        if(!checkPrice(a1,a2,a3,a4)){
            showTipsBox('alert','至少填写一个投放位的报价');
            return;
        }
        if(tradeList.length==0){
            showTipsBox('alert','请选择需求类型');
            return;
        }
        a1=(a1==''?0:a1);
        a2=(a2==''?0:a2);
        a3=(a3==''?0:a3);
        a4=(a4==''?0:a4);
        $(changeObj).children('input').val(a1+','+a2+','+a3+','+a4);

        $(changeObj).children('select').empty();
        for(var i=0;i<tradeList.length;i++){
            $(changeObj).children('select').append('<option value="' + tradeList[i] + '">' + $('#c_'+tradeList[i]).text() + '</option>')
        }
        //var obj ={oid:changeId,price_1x:a1,price_x1:a2,price_x2:a3,price_xx:a4,categorys_list:tradeList.join(',')};
        $.ajax({
            url:'/user?a=media_update',
            type:'POST',
            dataType:'JSON',
            data: {
                'oid': changeId,
                'price_1x': a1,
                'price_x1': a2,
                'price_x2': a3,
                'price_xx': a4,
                'category_list': tradeList.join(',')
            }
        });
    	
    	lightbox('case-cost');
        close_side();
        chooseThis();
    }

    function checkPrice(a1,a2,a3,a4){
        var sum = 0;
        for(var i=1;i<5;i++){
            sum+=(this["a"+i]==''?0:parseFloat(this["a"+i]));
        }
        return sum!=0;
    }
        
    function close_side(){
        $('.side-trade-list').removeClass('trade-in');
    }
    function getListNum(list,key){
        var tt = -1;
        var len = list.length;
        for(var i=0;i<len;i++){
            if(key==list[i]){
                tt = i;
                return tt;
            }
        }
        return tt;
    }

    function accept_demand(){
        if($('#totalPicked').text()=='0'){
            showTipsBox('alert','请选择接单的自媒体');
            return;
        }
        if(!checkMovile($('.input-mobile input').val())){
            showTipsBox('alert','请输入正确手机号');
            return;
        }
        $('form input[name="phone"]').attr('value',$('.input-mobile input').val());
        document.forms.demand_accept.submit();
    }
</script>

