{% extends '../../public/main.html' %}

{% block body %}
<script type="text/javascript" src="{{ static_url('script/media/contact.js')}}"></script>

<script type="text/javascript">
    function only_num(obj){
        if (isNaN(obj.value) || isNaN(obj.value.charAt(obj.value.length - 1))) {
            alert("只能为数字！");
            obj.value="";
        }
    }
    function update_base(){
        var a = document.getElementById('wechat_friend_name').value;
        if (a == "") {
            alert("名称不能为空");
            return false;
        }
        document.getElementById('wechat_friend_form').submit();
    }
    function iframeLoaded(iframe) {
        var doc = iframe.contentWindow.window;
        var html = doc.document.body.innerHTML;
        var len = html.length;
        if (len > 0) {
            var obj = JSON.parse(html);
            console.log(obj.data);
            $('.avatar_image img').attr('src', obj.data.url);
            $('.avatar_image input').attr('value', obj.data.key);
        }
    }
    $(document).ready(function(){
        uediter('wechat_friend_brief');
        uediter('remark');
    })
</script>

<div id="media_id" name="{{ detail_info['id'] }}" style="display: none"></div>

<div class="nav">
    <a href="/media/wechat_friend">返回上页</a>
</div>
<div class="colcon">
    <div class="col1in3">
        <table class="table table-bordered table-hover vert-align">
            <thead>
                <tr class="res_tbl_title">
                    <td>基本信息</td>
                    <td>属性</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ detail_info['id'] }}</td>
                </tr>
                <tr>
                    <td>名称</td>
                    <td>{{ detail_info['name'] }}</td>
                </tr>
                <tr>
                    <td>微信号</td>
                    <td>{{ detail_info['wechat_id'] if detail_info['wechat_id'] else '-' }}</td>
                </tr>
                <tr>
                    <td>头像</td>
                    <td>
                        <img src="http://7sbnkf.com2.z0.glb.qiniucdn.com/{{ detail_info['avatar'] }}-avatar" height="86px" width="86px">
                    </td>
                </tr>
                <tr>
                    <td>简介</td>
                    <td>{% raw detail_info['brief'] if detail_info['brief'] else '-' %}</td>
                </tr>
                <tr>
                    <td>添加时间</td>
                    <td>{{ detail_info['create_time'] }}</td>
                </tr>
                <tr>
                    <td>更新时间</td>
                    <td>{{ detail_info['last_update_time'] }}</td>
                </tr>
                <tr>
                    <td>来源</td>
                    <td>{{ detail_info['src_type'] }}</td>
                </tr>
            </tbody>
        </table>
        <div class="opc">
            <button class="btnNormal" name="wechat_friend_base_update" data-target="#wechat_friend_base_update_dialog" data-toggle="modal">更新资料</button>
        </div>
        <div id="wechat_friend_base_update_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="wechat_friend_base_update_close" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 id="wechat_friend_base_update_title">更新媒体资料</h4>
                    </div>
                    <div class="modal-body brickWall">
                        <form id="wechat_friend_form" name="wechat_friend_form" method="post" action="/media/wechat_friend?a=update_base&id={{ detail_info['id']}}">
                            <div>
                                <strong>名称</strong>
                                <input type="text" id="wechat_friend_name" name="wechat_friend_name" value="{{detail_info['name']}}">
                            </div>
                            <div class="avatar_image" onclick="javascript:$('#avatar_image').click()">
                                <strong><br>头像</strong>
                                <input type="hidden" id="wechat_friend_avatar_key" name="wechat_friend_avatar" value="{{ detail_info['avatar'] }}">
                                <img src="http://7sbnkf.com2.z0.glb.qiniucdn.com/{{ detail_info['avatar'] }}-avatar" style="width: 86px; height: 86px">
                            </div>
                            <div>
                                <strong>微信号</strong>
                                <input id="wechat_friend_wechat_id" name="wechat_friend_wechat_id" value="{{ detail_info['wechat_id'] }}"><br>
                            </div>
                            <div class="uediter">
                                <strong>简介</strong>
                                <textarea id="wechat_friend_brief" name="wechat_friend_brief">{% raw detail_info['brief'] %}</textarea><br>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" onclick="update_base()">更新</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <form id="avatar_image_form" action="/media/wechat_friend?a=upload_avatar" method="post" enctype="multipart/form-data"  target='hidden_form'>
            <input type="file" onchange="document.getElementById('avatar_image_form').submit();" style="display: none;" id="avatar_image" name="avatar_image">
        </form>
        <table class="table table-bordered table-hover vert-align">
                <thead>
                <tr class="res_tbl_title">
                    <td>受众信息</td>
                    <td>属性</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>性别</td>
                    <td>{{ detail_info['audience_gender'][1] }}</td>
                </tr>
                <tr>
                    <td>地域</td>
                    <td>{{ detail_info['audience_area'] }}</td>
                </tr>
                <tr>
                    <td>年龄</td>
                    <td>{{ '-' if not detail_info['audience_age'] else ','.join(detail_info['audience_age'].values()) }}</td>
                </tr>
                <tr>
                    <td>职业</td>
                    <td>{{ '-' if not detail_info['audience_career'] else ','.join(detail_info['audience_career'].values()) }}</td>
                </tr>
                </tbody>
            </table>
        <div class="opc">
            <button name="wechat_friend_audience_update" data-target="#wechat_friend_audience_update_dialog" data-toggle="modal" class="btnNormal">修改受众信息</button>
        </div>
        <div id="wechat_friend_audience_update_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="wechat_friend_audience_update_close" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 id="wechat_friend_audience_update_title">修改受众信息</h4>
                    </div>
                    <div class="modal-body brickWall">
                        <form id="update_audience_form" method="post" action="/media/wechat_friend?a=update_audience&id={{ detail_info['id'] }}">
                            <div><strong>性别</strong>
                                <label><input type="radio" name="audience_gender" value="0">不限</label>
                                <label><input type="radio" name="audience_gender" value="1">偏女性</label>
                                <label><input type="radio" name="audience_gender" value="2">偏男性</label>
                            </div>
                            <div><strong>地域</strong>
                                <select id="media_audience_province" name="media_audience_province">
                                    <option value="-1">--不限--</option>
                                </select>
                                <select  id="media_audience_city" name="media_audience_city">
                                    <option value="-1">--不限--</option>
                                </select>
                                <select id="media_audience_county" name="media_audience_county">
                                    <option value="-1">--不限--</option>
                                </select>
                            </div>
                            <div><strong>年龄</strong>
                                <label><input type="checkbox" name="audience_age" value="1">70后</label>
                                <label><input type="checkbox" name="audience_age" value="2">80后</label>
                                <label><input type="checkbox" name="audience_age" value="3">85后</label>
                                <label><input type="checkbox" name="audience_age" value="4">90后</label>
                                <label><input type="checkbox" name="audience_age" value="5">95后</label>
                                <label><input type="checkbox" name="audience_age" value="6">其它</label>
                            </div>
                            <div><strong>职业</strong>
                                <label><input type="checkbox" name="audience_career" value="1">工薪阶层</label>
                                <label><input type="checkbox" name="audience_career" value="2">白领</label>
                                <label><input type="checkbox" name="audience_career" value="3">高管</label>
                                <label><input type="checkbox" name="audience_career" value="4">创业者</label>
                                <label><input type="checkbox" name="audience_career" value="5">企事业单位</label>
                                <label><input type="checkbox" name="audience_career" value="6">国企</label>
                                <label><input type="checkbox" name="audience_career" value="7">公职人员</label>
                                <label><input type="checkbox" name="audience_career" value="8">自由职业者</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" name="wechat_friend_audience_update" id="wechat_friend_audience_update">保存</button>
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 联系方式 -->
        <table id="contact-list" class="table table-bordered table-hover vert-align contact-list">
            <thead class="th-title">
                <tr>
                    <td colspan="9">联系方式</td>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <div class="opc">
            <button class="btnNormal" id="" data-target="#add_contact" data-toggle="modal">添加联系人</button>
        </div>
        <!-- 添加联系人 -->
        <div id="add_contact" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 id="">添加联系人</h4>
                    </div>
                    <div class="modal-body brickWall">
                        <div>
                            <div>
                                <strong>联系人</strong>
                                <input type="text" id="add_contact_person" name="add_contact_person" value="" width="30px"> <i>公司负责人<em> * </em></i>
                            </div>
                            <div>
                                <strong>职位</strong>
                                <input type="text" id="add_contact_position" name="add_contact_position" value=""> <i>公司职位</i>
                            </div>
                            <div>
                                <strong>手机</strong>
                                <input type="text" id="add_contact_phone" name="add_contact_phone" value=""> <i>手机号<em> * </em></i>
                            </div>
                            <div>
                                <strong>座机</strong>
                                <input type="text" id="add_contact_tel" name="add_contact_tel" value=""> <i>如021-1000000</i>
                            </div>
                            <div>
                                <strong>微信</strong>
                                <input type="text" id="add_contact_wechat" name="add_contact_wechat" value=""><em> * </em>
                            </div>
                            <div>
                                <strong>QQ</strong>
                                <input type="text" id="add_contact_qq" name="add_contact_qq" value=""><em> * </em>
                            </div>
                            <div>
                                <strong>邮件</strong>
                                <input type="text" id="add_contact_email" name="add_contact_email" value=""> <i>电子邮箱</i>
                            </div>
                            <div>
                                <strong>其它</strong>
                                <input type="text" id="add_contact_other" name="add_contact_other" value=""> <i>除以上信息外的其它重要信息</i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="add_contact_btn" class="btn btn-success" name="follow_btn"  onclick="">确定</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改联系人表格 -->
        <div id="contact_update_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 id="">修改联系方式</h4>
                    </div>
                    <div class="modal-body brickWall">
                        <div id="update_contact_form">
                            <div>
                                <strong>联系人</strong>
                                <input id="contact_person" name="contact_person" value=""> <i>填写联系人<em> * </em></i>
                            </div>
                            <div>
                                <strong>职位</strong>
                                <input id="contact_position" name="contact_position" value=""> <i>填写职位</i>
                            </div>
                            <div>
                                <strong>手机</strong>
                                <input id="contact_phone" name="contact_phone" value=""> <i>11 位数字<em> * </em></i>
                            </div>
                            <div>
                                <strong>座机</strong>
                                <input type="text" id="contact_tel" name="contact_tel" value="">
                            </div>
                            <div>
                                <strong>QQ</strong>
                                <input id="contact_qq" name="contact_qq" value=""> <i>只可填写数字</i><em> * </em>
                            </div>
                            <div>
                                <strong>微信</strong>
                                <input id="contact_wechat" name="contact_wechat" value=""> <i>填写微信号</i><em> * </em>
                            </div>
                            <div>
                                <strong>邮箱</strong>
                                <input id="contact_email" name="contact_email" value=""> <i>填写邮箱</i>
                            </div>
                            <div>
                                <strong>其它</strong>
                                <input type="text" id="contact_other" name="contact_other" value=""> <i>除以上信息外的其它重要信息</i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" name="media_contact_update" id="media_contact_update">确定</button>
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>


    <div class="col2in3">
        <table class="table table-bordered table-hover vert-align">
            <thead>
                <tr class="res_tbl_title">
                    <td>价值信息</td>
                    <td>属性</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>行业</td>
                    <td>{{ '-' if not detail_info['category'] else ','.join(detail_info['category'].values()) }}</td>
                </tr>
                <tr>
                    <td>标签</td>
                    <td>{{ '-' if not detail_info['tag'] else ','.join(detail_info['tag'].values()) }}</td>
                </tr>
                <tr>
                    <td>评论</td>
                    <td>{{ '-' if not detail_info['comment'] else detail_info['comment'][1] }}</td>
                </tr>
                <tr>
                    <td>粉丝数</td>
                    <td>{{ '-' if not detail_info['fans_num'] else str(detail_info['fans_num'])+'+'}}</td>
                </tr>
                <tr>
                    <td>KOL</td>
                    <td>{{ '-' if not detail_info['kol'] else detail_info['kol'][1] }}</td>
                </tr>
            </tbody>
        </table>
        <div class="opc">
            <button name="wechat_friend_value_update" data-target="#wechat_friend_value_update_dialog" data-toggle="modal" class="btnNormal">修改价值信息</button>
        </div>
        <div id="wechat_friend_value_update_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="wechat_friend_value_update_close" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 id="wechat_friend_value_update_title">修改价值信息</h4>
                    </div>
                    <div class="modal-body brickWall">
                        <form id="update_value_form" method="post" action="/media/wechat_friend?a=update_value&id={{ detail_info['id'] }}">
                        <div id="category_radio"><strong>媒体行业</strong></div>
                        <div id="tag_checkbox"><strong>媒体标签</strong></div>
                        <div><strong>有无评论</strong>
                            <label><input type="radio" name="comment" value="1">是</label>
                            <label><input type="radio" name="comment" value="2">否</label>
                        </div>
                        <div><strong>是否KOL</strong>
                            <label><input type="radio" name="kol" value="1">是</label>
                            <label><input type="radio" name="kol" value="2">否</label>
                        </div>
                        <div>
                            <strong>粉丝数</strong>
                            <input onkeyup="only_num(this);" id="fans_num" name="fans_num" value="{{ detail_info['fans_num'] }}"> <i>只可填写整数</i>
                        </div>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" name="wechat_friend_value_update" id="wechat_friend_value_update">保存</button>
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered table-hover vert-align">
            <thead>
            <tr class="res_tbl_title">
                <td>投放价值</td>
                <td>属性</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>是否接黑稿</td>
                    <td>{{ '-' if not detail_info['black_pr'] else detail_info['black_pr'][1] }}</td>
                </tr>
                <tr>
                    <td>有无社群</td>
                    <td>{{ '-' if not detail_info['association'] else detail_info['association'][1] }}</td>
                </tr>
                <tr>
                    <td>接广告</td>
                    <td>{{ '-' if not detail_info['ad'] else detail_info['ad'][1] }}</td>
                </tr>
                <tr>
                    <td>广告类型</td>
                    <td>{{ '-' if not detail_info['ad_type'] else ','.join(detail_info['ad_type'].values()) }}</td>
                </tr>
                <tr>
                    <td>投放价值</td>
                    <td>{{ '-' if not detail_info['worth'] else detail_info['worth'][1] }}</td>
                </tr>
                <tr>
                    <td>朋友圈报价</td>
                    <td>{{ detail_info['forward_price'] if detail_info['forward_price'] else '-' }}</td>
                </tr>
                <tr>
                    <td>其他报价</td>
                    <td>{{ '-' if not detail_info['other_price'] else detail_info['other_price'] }}</td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td>{% raw '' if not detail_info['remark'] else detail_info['remark'] %} </td>
                </tr>
            </tbody>
        </table>
        <div class="opc">
            <button name="wechat_friend_price_update" data-target="#wechat_friend_price_update_dialog" data-toggle="modal" class="btnNormal">修改投放价值</button>
        </div>
        <div id="wechat_friend_price_update_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="wechat_friend_price_update_close" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 id="wechat_friend_price_update_title">修改投放价值</h4>
                    </div>
                    <div class="modal-body brickWall">
                        <form id="update_price_form" method="post" action="/media/wechat_friend?a=update_price&id={{ detail_info['id'] }}">
                            <div><strong>是否接黑稿</strong>
                                <label><input type="radio" name="black_pr" value="1">是</label>
                                <label><input type="radio" name="black_pr" value="2">否</label>
                            </div>
                            <div><strong>有无社群</strong>
                                <label><input type="radio" name="association" value="1">是</label>
                                <label><input type="radio" name="association" value="2">否</label>
                            </div>
                            <div><strong>投放价值</strong>
                                <label><input type="radio" name="worth" value="1">是</label>
                                <label><input type="radio" name="worth" value="2">否</label>
                            </div>
                            <div><strong>接受广告</strong>
                                <label><input type="radio" name="ad" value="1">是</label>
                                <label><input type="radio" name="ad" value="2">否</label>
                            </div>
                            <div><strong>广告类型</strong>
                                <label><input type="checkbox" name="ad_type" value="1">软广</label>
                                <label><input type="checkbox" name="ad_type" value="2">硬广</label>
                            </div>
                            <div>
                                <strong>朋友圈报价</strong>
                                <input onkeyup="only_num(this);" id="forward_price" name="forward_price" value="{{ detail_info['forward_price'] }}"><br>
                            </div>
                            <div>
                                <strong>其他报价</strong>
                                <input onkeyup="only_num(this);" id="other_price" name="other_price" value="{{ detail_info['other_price'] }}"> <i>只可填写整数</i>
                            </div>
                            <div class="uediter">
                                <strong>备注信息</strong>
                                <textarea id="remark" name="remark" >{% raw '' if not detail_info['remark'] else detail_info['remark'] %} </textarea><i>除以上信息的其它重要情况备注</i>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" name="wechat_friend_price_update" id="wechat_friend_price_update">保存</button>
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe frameborder="0" name='hidden_form' style="width:0;height: 0;" onload="iframeLoaded(this)"></iframe>
<script type="text/javascript">
$(document).ready(function() {
    $('#media_follow').text("{{ '取消跟踪' if follow else '加入跟踪'}}");

    $('#wechat_friend_base_update').click(function () {
        var url = $("#mp_url").val();
        console.log(url);
        if (url == '') {
            alert('地址不能为空');
            return;
        }
        // 使保存按钮失效
        $('#wechat_friend_base_update').attr("disabled", true);
        $.ajax({
            type: "post",
            dataType: "json",
            url: "/media/wechat_friend?a=update_base",
            data: {'url': url, 'id': "{{ detail_info['id'] }}"},
            success: function (d) {
                // 使保存按钮失效
                $('#wechat_friend_base_update').attr("disabled", false);
                if (d.status == 200) {
                    $("#wechat_friend_base_update_close").click();
                    alert('更新成功');
                    location.reload();
                } else if (d.status == 601) {
                    alert('该链接不匹配')
                } else if (d.status == 401) {
                    alert('无效的图文链接')
                } else {
                    alert('出错啦。。。')
                }
            }
        })
    });
    $('#follow_btn').click(function () {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "/media/wechat_friend?a=follow",
            data: {'media_id': "{{ detail_info['id'] }}", 'remark': $('#follow_remark').val()},
            success: function (d) {
                if (d.status == 200) {
                    if (d.data.follow == 1) {
                        $('#media_follow').text("取消跟踪");
                    } else {
                        $('#media_follow').text("加入跟踪");
                    }
                } else {
                    alert('加入跟踪失败。。。')
                }
                $('#media_follow_close').click();
                location.reload();
            }
        })
    });
    $('#wechat_friend_value_update').click(function () {
        $('#update_value_form').submit();
    });
    $('#wechat_friend_audience_update').click(function () {
        $('#update_audience_form').submit();
    });
    $('#wechat_friend_price_update').click(function () {
        $('#update_price_form').submit();
    });
    $('#wechat_friend_contact_update').click(function () {
        $('#update_contact_form').submit();
    });
    $("button[name='wechat_friend_price_update']").click(function () {
        $("input[name=black_pr][value=" + "{{ detail_info['black_pr'][0] }}" + "]").attr("checked", true);
        $("input[name=can_afford_article][value=" + "{{ detail_info['can_afford_article'][0] }}" + "]").attr("checked", true);
        $("input[name=station][value=" + "{{ detail_info['station'][0] }}" + "]").attr("checked", true);
        $("input[name=worth][value=" + "{{ detail_info['worth'][0] }}" + "]").attr("checked", true);
        $("input[name=association][value=" + "{{ detail_info['association'][0] }}" + "]").attr("checked", true);
        $("input[name=farm_level][value=" + "{{ detail_info['farm_level'][0] }}" + "]").attr("checked", true);
        $("input[name=ad][value=" + "{{ detail_info['ad'][0] }}" + "]").attr("checked", true);
        $("input[name=ad_type]").each(function () {
            if ($.inArray($(this).val(), '{{ ",".join(detail_info["ad_type"].keys()) }}'.split(',')) != -1) {
                $(this).attr("checked", true);
            }
        });
    });
    $("button[name='wechat_friend_value_update']").click(function () {
        $("input[name=category_media_id][value=" + "{{ detail_info['category_media_id'] }}" + "]").attr("checked", true);
        $("input[name=tag]").each(function () {
            if ($.inArray($(this).val(), '{{ ",".join(detail_info["tag"].keys()) }}'.split(',')) != -1) {
                $(this).attr("checked", true);
            }
        });
        $("input[name=role][value=" + "{{ detail_info['role'][0] }}" + "]").attr("checked", true);
        $("input[name=comment][value=" + "{{ detail_info['comment'][0] }}" + "]").attr("checked", true);
        $("input[name=award][value=" + "{{ detail_info['award'][0] }}" + "]").attr("checked", true);
        $("input[name=kol][value=" + "{{ detail_info['kol'][0] }}" + "]").attr("checked", true);
    });
    $("button[name='wechat_friend_audience_update']").click(function () {
        $("input[name=audience_gender][value=" + "{{ detail_info['audience_gender'][0] }}" + "]").attr("checked", true);
        $("input[name=audience_age]").each(function () {
            if ($.inArray($(this).val(), '{{ ",".join(detail_info["audience_age"].keys()) }}'.split(',')) != -1) {
                $(this).attr("checked", true);
            }
        });
        $("input[name=audience_career]").each(function () {
            if ($.inArray($(this).val(), '{{ ",".join(detail_info["audience_career"].keys()) }}'.split(',')) != -1) {
                $(this).attr("checked", true);
            }
        });
    });

    //省份
    $.ajax({
        type: "get",
        contentType: "application/json",
        url: "/yidao/media?a=getArea&parent_id=0",
        //data: "{}",
        success: function (result) {
            var obj = JSON.parse(result);
            var province_op = "";
            for (var i = 0; i < obj.data.length; i++) {
                province_op += '<option value=' + obj.data[i].id + '>';
                province_op += obj.data[i].name;
                province_op += '</option>';
            }
            $("#media_audience_province").append(province_op);
        }
    });
    //当省份发生改变时，城市改变
    $('#media_audience_province').change(function () {
        $('#media_audience_city option:gt(0)').remove();
        $('#media_audience_county option:gt(0)').remove();
        $.ajax({
            type: "get",
            contentType: "application/json",
            url: "/yidao/media?a=getArea&parent_id=" + $(this).val(),
            //data: "{}",
            success: function (result) {
                var obj = JSON.parse(result);
                var city_op = '';
                for (var i = 0; i < obj.data.length; i++) {
                    city_op += '<option value=' + obj.data[i].id + '>';
                    city_op += obj.data[i].name;
                    city_op += '</option>';
                }
                $('#media_audience_city').append(city_op);
            }
        })
    });

    //当城市改变时，县改变
    $('#media_audience_city').change(function () {
        $('#media_audience_county option:gt(0)').remove();
        $.ajax({
            type: "get",
            contentType: "application/json",
            url: "/yidao/media?a=getArea&parent_id=" + $(this).val(),
            //data: "{}",
            success: function (result) {
                var obj = JSON.parse(result);
                var county_op = '';
                for (var i = 0; i < obj.data.length; i++) {
                    county_op += '<option value=' + obj.data[i].id + '>';
                    county_op += obj.data[i].name;
                    county_op += '</option>';
                }
                $('#media_audience_county').append(county_op);
            }
        })
    })
    // category
    var category = JSON.parse('{{ category_info }}'.replace(/&quot;/g, "\""));
    // console.log(category);
    _html = '';
    $.each(category, function (i, val) {
        _html += '<label>';
        _html += '<input type="radio" name="category_media_id" value=' + val.id + '>';
        _html += val.name;
        _html += '</label>';
    });
    $('#category_radio').append(_html);
    // tag
    var tag = JSON.parse('{{ tag_info }}'.replace(/&quot;/g, "\""));
    // console.log(tag);
    _html = '';
    $.each(tag, function (i, val) {
        _html += '<label>';
        _html += '<input type="checkbox" name="tag" value=' + val.id + '>';
        _html += val.name;
        _html += '</label>';
    });
    $('#tag_checkbox').append(_html);
    // 标签最多选6个
    $('button[name=wechat_friend_value_update]').click(function () {
        if ($("input[name=tag]:checked").length >= 6) {
            $("input[name=tag]").attr('disabled', true);
            $("input[name=tag]:checked").attr('disabled', false);
        }
    });
    $('input[name=tag]').click(function () {
        $("input[name=tag]").attr('disabled', true);
        if ($("input[name=tag]:checked").length >= 6) {
            $("input[name=tag]:checked").attr('disabled', false);
        } else {
            $("input[name=tag]").attr('disabled', false);
        }
    });
})
</script>
{% end %}