<div class="userInfo">
    <div class="userAvatar"><img src="{{ user['avatar'] }}" alt="{{ user['nickname'] }}"></div>
    <div class="userNickname">{{ user['nickname'] }}</div>
    <div class="userLocation">位置：{{ user['local'] }}</div>
</div>
<div class="userMedia">
    <!--
    <div class="title">
        <a href="/u?id={{ user['id'] }}" class="{% if menu == 'media' %}current{% end %}" id="sm">自媒体</a>
        <a href="/u?a=union&id={{ user['id'] }}" class="{% if menu == 'union' %}current{% end %}">联盟</a>
    </div>
    -->